.foote {
    .foote_ro {
        display: flex;
        flex-direction: row;
        background-color: #3E3E3E;
        .foote_ro_tx1 {
            align-self: flex-start;
            font-style: normal;
            font-size: 17px;
            font-family: "Source Serif Pro", sans-serif;
            color: white;

            @include poi_scree2 {
                align-self: flex-start;
                font-style: normal;
                font-size: 17px;
                font-family: "Source Serif Pro", sans-serif;
                color: white;
            }

            @include poi_scree3 {
                align-self: center;
                font-style: normal;
                font-size: 17px;
                font-family: "Source Serif Pro", sans-serif;
                color: white;
            }

            @include poi_scree4 {
                align-self: flex-start;
                font-style: normal;
                font-size: 17px;
                font-family: "Source Serif Pro", sans-serif;
                color: white;
            }
        }

        .foote_ro_blo1 {
            display: flex;
            flex-direction: row;
            width: 1920px;
            justify-content: space-between;
            flex-wrap: wrap;
            .foote_ro_blo1_ro {
                display: flex;
                flex-direction: column;

                @include poi_scree2 {
                    display: flex;
                    flex-direction: column;
                }

                @include poi_scree3 {
                    display: flex;
                    flex-direction: column;
                }

                @include poi_scree4 {
                    display: flex;
                    flex-direction: column;
                }
                .foote_ro_blo1_tx1 {
                    position: relative;
                    font-style: normal;
                    font-size: 15px;
                    color: white;
                    font-family: "IBM Plex Mono", sans-serif;
                    cursor: pointer;
                    transition: 0.5s;
                    &::after {
                        content: " ";
                        position: absolute;
                        cursor: pointer;
                        width: 0px;
                        left: 0px;
                        bottom: -3px;
                        height: 5px;
                        border-radius: 75px;
                        background-color: white;
                        transition: 0.5s;
                    }
    
                    &:hover::after {
                        content: " ";
                        position: absolute;
                        width: 63px;
                        cursor: pointer;
                        left: 0px;
                        bottom: -3px;
                        height: 5px;
                        border-radius: 75px;
                        background-color: white;
                    }

                    @include poi_scree2 {
                        position: relative;
                        font-style: normal;
                        font-size: 15px;
                        color: white;
                        font-family: "IBM Plex Mono", sans-serif;
                        cursor: pointer;
                        transition: 0.5s;
                        &::after {
                            content: " ";
                            position: absolute;
                            cursor: pointer;
                            width: 0px;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                            transition: 0.5s;
                        }
    
                        &:hover::after {
                            content: " ";
                            position: absolute;
                            width: 63px;
                            cursor: pointer;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                        }
                    }

                    @include poi_scree3 {
                        position: relative;
                        font-style: normal;
                        font-size: 15px;
                        color: white;
                        font-family: "IBM Plex Mono", sans-serif;
                        cursor: pointer;
                        transition: 0.5s;
                        &::after {
                            content: " ";
                            position: absolute;
                            cursor: pointer;
                            width: 0px;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                            transition: 0.5s;
                        }
    
                        &:hover::after {
                            content: " ";
                            position: absolute;
                            width: 63px;
                            cursor: pointer;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                        }
                    }

                    @include poi_scree4 {
                        position: relative;
                        font-style: normal;
                        font-size: 15px;
                        color: white;
                        font-family: "IBM Plex Mono", sans-serif;
                        cursor: pointer;
                        transition: 0.5s;
                        &::after {
                            content: " ";
                            position: absolute;
                            cursor: pointer;
                            width: 0px;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                            transition: 0.5s;
                        }
    
                        &:hover::after {
                            content: " ";
                            position: absolute;
                            width: 63px;
                            cursor: pointer;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                        }
                    }
                }
    
                .foote_ro_blo1_tx2 {
                    position: relative;
                    font-style: normal;
                    font-size: 15px;
                    color: white;
                    font-family: "IBM Plex Mono", sans-serif;
                    cursor: pointer;
                    transition: 0.5s;
                    &::after {
                        content: " ";
                        position: absolute;
                        cursor: pointer;
                        width: 0px;
                        left: 0px;
                        bottom: -3px;
                        height: 5px;
                        border-radius: 75px;
                        background-color: white;
                        transition: 0.5s;
                    }
    
                    &:hover::after {
                        content: " ";
                        position: absolute;
                        width: 63px;
                        cursor: pointer;
                        left: 0px;
                        bottom: -3px;
                        height: 5px;
                        border-radius: 75px;
                        background-color: white;
                    }

                    @include poi_scree2 {
                        position: relative;
                        font-style: normal;
                        font-size: 15px;
                        color: white;
                        font-family: "IBM Plex Mono", sans-serif;
                        cursor: pointer;
                        transition: 0.5s;
                        &::after {
                            content: " ";
                            position: absolute;
                            cursor: pointer;
                            width: 0px;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                            transition: 0.5s;
                        }
    
                        &:hover::after {
                            content: " ";
                            position: absolute;
                            width: 63px;
                            cursor: pointer;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                        }
                    }

                    @include poi_scree3 {
                        position: relative;
                        font-style: normal;
                        font-size: 15px;
                        color: white;
                        font-family: "IBM Plex Mono", sans-serif;
                        cursor: pointer;
                        transition: 0.5s;
                        &::after {
                            content: " ";
                            position: absolute;
                            cursor: pointer;
                            width: 0px;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                            transition: 0.5s;
                        }
    
                        &:hover::after {
                            content: " ";
                            position: absolute;
                            width: 63px;
                            cursor: pointer;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                        }
                    }

                    @include poi_scree4 {
                        position: relative;
                        font-style: normal;
                        font-size: 15px;
                        color: white;
                        font-family: "IBM Plex Mono", sans-serif;
                        cursor: pointer;
                        transition: 0.5s;
                        &::after {
                            content: " ";
                            position: absolute;
                            cursor: pointer;
                            width: 0px;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                            transition: 0.5s;
                        }
    
                        &:hover::after {
                            content: " ";
                            position: absolute;
                            width: 63px;
                            cursor: pointer;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                        }
                    }
                }
    
                .foote_ro_blo1_tx3 {
                    position: relative;
                    font-style: normal;
                    font-size: 15px;
                    color: white;
                    font-family: "IBM Plex Mono", sans-serif;
                    cursor: pointer;
                    transition: 0.5s;
                    &::after {
                        content: " ";
                        position: absolute;
                        cursor: pointer;
                        width: 0px;
                        left: 0px;
                        bottom: -3px;
                        height: 5px;
                        border-radius: 75px;
                        background-color: white;
                        transition: 0.5s;
                    }
    
                    &:hover::after {
                        content: " ";
                        position: absolute;
                        width: 39px;
                        cursor: pointer;
                        left: 0px;
                        bottom: -3px;
                        height: 5px;
                        border-radius: 75px;
                        background-color: white;
                    }

                    @include poi_scree2 {
                        position: relative;
                        font-style: normal;
                        font-size: 15px;
                        color: white;
                        font-family: "IBM Plex Mono", sans-serif;
                        cursor: pointer;
                        transition: 0.5s;
                        &::after {
                            content: " ";
                            position: absolute;
                            cursor: pointer;
                            width: 0px;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                            transition: 0.5s;
                        }
    
                        &:hover::after {
                            content: " ";
                            position: absolute;
                            width: 63px;
                            cursor: pointer;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                        }
                    }

                    @include poi_scree3 {
                        position: relative;
                        font-style: normal;
                        font-size: 15px;
                        color: white;
                        font-family: "IBM Plex Mono", sans-serif;
                        cursor: pointer;
                        transition: 0.5s;
                        &::after {
                            content: " ";
                            position: absolute;
                            cursor: pointer;
                            width: 0px;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                            transition: 0.5s;
                        }
    
                        &:hover::after {
                            content: " ";
                            position: absolute;
                            width: 63px;
                            cursor: pointer;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                        }
                    }

                    @include poi_scree4 {
                        position: relative;
                        font-style: normal;
                        font-size: 15px;
                        color: white;
                        font-family: "IBM Plex Mono", sans-serif;
                        cursor: pointer;
                        transition: 0.5s;
                        &::after {
                            content: " ";
                            position: absolute;
                            cursor: pointer;
                            width: 0px;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                            transition: 0.5s;
                        }
    
                        &:hover::after {
                            content: " ";
                            position: absolute;
                            width: 63px;
                            cursor: pointer;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                        }
                    }
                }
                
                .foote_ro_blo1_tx4 {
                    position: relative;
                    font-style: normal;
                    font-size: 15px;
                    color: white;
                    font-family: "IBM Plex Mono", sans-serif;
                    cursor: pointer;
                    transition: 0.5s;
                    &::after {
                        content: " ";
                        position: absolute;
                        cursor: pointer;
                        width: 0px;
                        left: 0px;
                        bottom: -3px;
                        height: 5px;
                        border-radius: 75px;
                        background-color: white;
                        transition: 0.5s;
                    }
    
                    &:hover::after {
                        content: " ";
                        position: absolute;
                        width: 45px;
                        cursor: pointer;
                        left: 0px;
                        bottom: -3px;
                        height: 5px;
                        border-radius: 75px;
                        background-color: white;
                    }

                    @include poi_scree2 {
                        position: relative;
                        font-style: normal;
                        font-size: 15px;
                        color: white;
                        font-family: "IBM Plex Mono", sans-serif;
                        cursor: pointer;
                        transition: 0.5s;
                        &::after {
                            content: " ";
                            position: absolute;
                            cursor: pointer;
                            width: 0px;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                            transition: 0.5s;
                        }
    
                        &:hover::after {
                            content: " ";
                            position: absolute;
                            width: 63px;
                            cursor: pointer;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                        }
                    }

                    @include poi_scree3 {
                        position: relative;
                        font-style: normal;
                        font-size: 15px;
                        color: white;
                        font-family: "IBM Plex Mono", sans-serif;
                        cursor: pointer;
                        transition: 0.5s;
                        &::after {
                            content: " ";
                            position: absolute;
                            cursor: pointer;
                            width: 0px;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                            transition: 0.5s;
                        }
    
                        &:hover::after {
                            content: " ";
                            position: absolute;
                            width: 63px;
                            cursor: pointer;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                        }
                    }

                    @include poi_scree4 {
                        position: relative;
                        font-style: normal;
                        font-size: 15px;
                        color: white;
                        font-family: "IBM Plex Mono", sans-serif;
                        cursor: pointer;
                        transition: 0.5s;
                        &::after {
                            content: " ";
                            position: absolute;
                            cursor: pointer;
                            width: 0px;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                            transition: 0.5s;
                        }
    
                        &:hover::after {
                            content: " ";
                            position: absolute;
                            width: 63px;
                            cursor: pointer;
                            left: 0px;
                            bottom: -3px;
                            height: 5px;
                            border-radius: 75px;
                            background-color: white;
                        }
                    }
                }
            }
        }
        }
    }