.wrappe {
    .blo {
        .heade {
            .heade_ro {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                flex-basis: 300px;
                background-color: #3E3E3E;
                .na {
                    .na_tx_1 {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        flex-wrap: wrap;
                        column-gap: 17px;

                        @include poi_scree1 {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                            flex-wrap: wrap;
                            column-gap: 17px;
                        }
                        @include poi_scree2 {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            column-gap: 17px;
                            flex-wrap: wrap;
                        }

                        @include poi_scree3 {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            column-gap: 17px;
                            flex-wrap: wrap;
                        }
                        .na_tx_1_tx1 {
                            font-style: normal;
                            font-size: 19px;
                            color: white;
                            font-family: "Source Serif Pro", sans-serif;
                            margin-right: auto;
                            @include poi_scree1 {
                                font-style: normal;
                                font-size: 19px;
                                color: white;
                                font-family: "Source Serif Pro", sans-serif;
                            }
                            @include poi_scree2 {
                                font-style: normal;
                                font-size: 19px;
                                color: white;
                                font-family: "Source Serif Pro", sans-serif;
                            }

                            @include poi_scree3 {
                                font-style: normal;
                                font-size: 19px;
                                color: white;
                                font-family: "Source Serif Pro", sans-serif;
                                align-self: center;
                            }
                        }

                        .na_tx_1_tx2 {
                            position: relative;
                            font-style: normal;
                            font-family: "Arimo", sans-serif;
                            color: white;
                            cursor: pointer;
                            font-size: 15px;
                            transition: 0.5s;
                            &::after {
                                content: " ";
                                position: absolute;
                                width: 0px;
                                height: 5px;
                                left: 0px;
                                bottom: 3px;
                                cursor: pointer;
                                border-radius: 75px;
                                background-color: white;
                                transition: 0.5s;
                            }
                            &:hover::after {
                                content: " ";
                                position: absolute;
                                cursor: pointer;
                                width: 57px;
                                height: 5px;
                                left: 0px;
                                bottom: 3px;
                                border-radius: 75px;
                                background-color: white;
                            }

                            @include poi_scree1 {
                                position: relative;
                                font-style: normal;
                                font-family: "Arimo", sans-serif;
                                color: white;
                                cursor: pointer;
                                font-size: 15px;
                                transition: 0.5s;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: 3px;
                                    cursor: pointer;
                                    border-radius: 75px;
                                    background-color: white;
                                    transition: 0.5s;
                            }
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 57px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: 3px;
                                    border-radius: 75px;
                                    background-color: white;
                                }
                            }

                            @include poi_scree2 {
                                position: relative;
                                font-style: normal;
                                font-family: "Arimo", sans-serif;
                                color: white;
                                cursor: pointer;
                                font-size: 15px;
                                transition: 0.5s;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: 3px;
                                    cursor: pointer;
                                    border-radius: 75px;
                                    background-color: white;
                                    transition: 0.5s;
                                }
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 57px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: 3px;
                                    border-radius: 75px;
                                    background-color: white;
                                }
                            }

                            @include poi_scree3 {
                                position: relative;
                                font-style: normal;
                                font-family: "Arimo", sans-serif;
                                color: white;
                                cursor: pointer;
                                font-size: 15px;
                                transition: 0.5s;
                                opacity: 0%;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    opacity: 0%;
                                    bottom: 3px;
                                    cursor: pointer;
                                    border-radius: 75px;
                                    background-color: white;
                                    transition: 0.5s;
                                }
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    opacity: 0%;
                                    width: 57px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: 3px;
                                    border-radius: 75px;
                                    background-color: white;
                                }
                            }
                        }

                        .na_tx_1_tx3 {
                            position: relative;
                            font-style: normal;
                            font-family: "Arimo", sans-serif;
                            color: white;
                            cursor: pointer;
                            font-size: 15px;
                            transition: 0.5s;
                            &::after {
                                content: " ";
                                position: absolute;
                                width: 0px;
                                height: 5px;
                                left: 0px;
                                bottom: 3px;
                                cursor: pointer;
                                border-radius: 75px;
                                background-color: white;
                                transition: 0.5s;
                            }
                            &:hover::after {
                                content: " ";
                                position: absolute;
                                cursor: pointer;
                                width: 57px;
                                height: 5px;
                                left: 0px;
                                bottom: 3px;
                                border-radius: 75px;
                                background-color: white;
                            }
                            @include poi_scree1 {
                                position: relative;
                                font-style: normal;
                                font-family: "Arimo", sans-serif;
                                color: white;
                                cursor: pointer;
                                font-size: 15px;
                                transition: 0.5s;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: 3px;
                                    cursor: pointer;
                                    border-radius: 75px;
                                    background-color: white;
                                    transition: 0.5s;
                            }
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 57px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: 3px;
                                    border-radius: 75px;
                                    background-color: white;
                                }
                            }
                            @include poi_scree2 {
                                position: relative;
                                font-style: normal;
                                font-family: "Arimo", sans-serif;
                                color: white;
                                cursor: pointer;
                                font-size: 15px;
                                transition: 0.5s;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: 3px;
                                    cursor: pointer;
                                    border-radius: 75px;
                                    background-color: white;
                                    transition: 0.5s;
                                }
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 57px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: 3px;
                                    border-radius: 75px;
                                    background-color: white;
                                }
                            }

                            @include poi_scree3 {
                                position: relative;
                                font-style: normal;
                                font-family: "Arimo", sans-serif;
                                color: white;
                                cursor: pointer;
                                font-size: 15px;
                                transition: 0.5s;
                                opacity: 0%;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    opacity: 0%;
                                    bottom: 3px;
                                    cursor: pointer;
                                    border-radius: 75px;
                                    background-color: white;
                                    transition: 0.5s;
                                }
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    opacity: 0%;
                                    width: 57px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: 3px;
                                    border-radius: 75px;
                                    background-color: white;
                                }
                            }
                        }

                        .na_tx_1_tx4 {
                            position: relative;
                            font-style: normal;
                            font-family: "Arimo", sans-serif;
                            color: white;
                            cursor: pointer;
                            font-size: 15px;
                            transition: 0.5s;
                            &::after {
                                content: " ";
                                position: absolute;
                                width: 0px;
                                height: 5px;
                                left: 0px;
                                bottom: 3px;
                                cursor: pointer;
                                border-radius: 75px;
                                background-color: white;
                                transition: 0.5s;
                            }
                            &:hover::after {
                                content: " ";
                                position: absolute;
                                cursor: pointer;
                                width: 40px;
                                height: 5px;
                                left: 0px;
                                bottom: 3px;
                                border-radius: 75px;
                                background-color: white;
                            }
                            @include poi_scree1 {
                                position: relative;
                                font-style: normal;
                                font-family: "Arimo", sans-serif;
                                color: white;
                                cursor: pointer;
                                font-size: 15px;
                                transition: 0.5s;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: 3px;
                                    cursor: pointer;
                                    border-radius: 75px;
                                    background-color: white;
                                    transition: 0.5s;
                            }
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 57px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: 3px;
                                    border-radius: 75px;
                                    background-color: white;
                                }
                            }
                            @include poi_scree2 {
                                position: relative;
                                font-style: normal;
                                font-family: "Arimo", sans-serif;
                                color: white;
                                cursor: pointer;
                                font-size: 15px;
                                transition: 0.5s;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: 3px;
                                    cursor: pointer;
                                    border-radius: 75px;
                                    background-color: white;
                                    transition: 0.5s;
                                }
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 57px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: 3px;
                                    border-radius: 75px;
                                    background-color: white;
                                }
                            }

                            @include poi_scree3 {
                                position: relative;
                                font-style: normal;
                                font-family: "Arimo", sans-serif;
                                color: white;
                                cursor: pointer;
                                font-size: 15px;
                                transition: 0.5s;
                                opacity: 0%;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    opacity: 0%;
                                    bottom: 3px;
                                    cursor: pointer;
                                    border-radius: 75px;
                                    background-color: white;
                                    transition: 0.5s;
                                }
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    opacity: 0%;
                                    width: 57px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: 3px;
                                    border-radius: 75px;
                                    background-color: white;
                                }
                            }
                        }

                        .na_tx_1_tx5 {
                            position: relative;
                            font-style: normal;
                            font-family: "Arimo", sans-serif;
                            color: white;
                            cursor: pointer;
                            font-size: 15px;
                            transition: 0.5s;
                            &::after {
                                content: " ";
                                position: absolute;
                                width: 0px;
                                height: 5px;
                                left: 0px;
                                bottom: 3px;
                                cursor: pointer;
                                border-radius: 75px;
                                background-color: white;
                                transition: 0.5s;
                            }
                            &:hover::after {
                                content: " ";
                                position: absolute;
                                cursor: pointer;
                                width: 40px;
                                height: 5px;
                                left: 0px;
                                bottom: 3px;
                                border-radius: 75px;
                                background-color: white;
                            }
                            @include poi_scree1 {
                                position: relative;
                                font-style: normal;
                                font-family: "Arimo", sans-serif;
                                color: white;
                                cursor: pointer;
                                font-size: 15px;
                                transition: 0.5s;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: 3px;
                                    cursor: pointer;
                                    border-radius: 75px;
                                    background-color: white;
                                    transition: 0.5s;
                            }
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 57px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: 3px;
                                    border-radius: 75px;
                                    background-color: white;
                                }
                            }
                            @include poi_scree2 {
                                position: relative;
                                font-style: normal;
                                font-family: "Arimo", sans-serif;
                                color: white;
                                cursor: pointer;
                                font-size: 15px;
                                transition: 0.5s;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: 3px;
                                    cursor: pointer;
                                    border-radius: 75px;
                                    background-color: white;
                                    transition: 0.5s;
                                }
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 57px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: 3px;
                                    border-radius: 75px;
                                    background-color: white;
                                }
                            }

                            @include poi_scree3 {
                                position: relative;
                                font-style: normal;
                                font-family: "Arimo", sans-serif;
                                color: white;
                                cursor: pointer;
                                font-size: 15px;
                                transition: 0.5s;
                                opacity: 0%;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    width: 0px;
                                    height: 5px;
                                    left: 0px;
                                    opacity: 0%;
                                    bottom: 3px;
                                    cursor: pointer;
                                    border-radius: 75px;
                                    background-color: white;
                                    transition: 0.5s;
                                }
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    opacity: 0%;
                                    width: 57px;
                                    height: 5px;
                                    left: 0px;
                                    bottom: 3px;
                                    border-radius: 75px;
                                    background-color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}