body {
    &::-webkit-scrollbar {
        background-color: transparent;
        border-radius: 75px;
        width: 13px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 75px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 75px;
        background-color: black;
    }
}